{% extends "base.html" %}

{% block title %}Home - Florencia Farms Data Directory{% endblock %}

{% block content %}
    <h1>Welcome to the Florencia Farms Data Directory</h1>
    <p>Explore the world of agriculture and farming with our comprehensive data directory tool. Discover insights into on-farm and farmers markets, community supported agriculture, food hubs, agritourism, and black owned farms. Discover our featured and distribution farms to learn more about sustainable farming practices.</p>
    
    <p>Stay informed with our real-time features:</p>
    <ul>
        <li><strong>Farming & Agriculture News:</strong> Explore the latest articles on agriculture and farming news.</li>
        <li><strong>Farming & Agriculture FAQs:</strong> Find answers to frequently asked questions about farming and agriculture.</li>
    </ul>

    <p>We are dedicated to inventing a community passionate about sustainable farming and connecting with the heart of agriculture at Florencia Farms.</p>

    <p>For more information about us at Florencia Farms, please visit <a href="https://florencia.farm/who-we-are/" target="_blank">https://florencia.farm/who-we-are/</a></p>

    {% endblock %}
